button {
  position: relative;
  outline: none;
  border: none;
  background-color: lightblue;
  font-family: $font-stack;
  font-size: medium;
  padding: .5em;
  margin-top: .5em;
  border-bottom: 1px outset buttonface;
  border-color: black;
}

button:hover:enabled {
  color: white;
  cursor: pointer;
}

button:active {
  top: 1px;
  border: none;
}

.buttons {
  width: 100%;
  background-color: white;
  padding-bottom: 3px;
  position: fixed;
  bottom: 0px;
}

@media (max-width: $break-max-small) {
  .buttons {
    text-align: center;
  }
}
