fieldset {
  border-radius: 10px;
}

legend {
  font-size: x-large;
}

input, select, textarea {
  font-family: MarkerFelt-Wide;
  font-size: x-large;
  border-style: groove;
}

/*???????*/
select.club_select option {
  background-repeat:no-repeat;
  background-position:bottom left;
  padding-left:50px;
}

@media (max-width: $break-max-small) {
  .game_select {
    max-width: 275px;
  }
  .club_select {
    width: 85%
  }
}

.form label {
  vertical-align: top;
  display: inline-block;
}

textarea {
  font-family: MarkerFelt-Wide;
  font-size: x-large;
  border-style: groove;
  width: 100%;
}

div.block {
  padding-bottom: 1em;
}

@media (max-width: $break-max-small) {
  .block label {
    display: block;
    width: 10em;
    padding-right: 0.75em;
  }
  .upload {
    display: none;
  }
}

@media (min-width: $break-min-large) {
  .block label {
    display: inline-block;
    width: 10em;
    text-align: right;
    padding-right: 0.75em;
  }
}

.error input,
.error select {
  border: 2px solid red;
}

span.errorMessage {
  color: red;
}