@media (max-width: $break-max-small) {
  .off-canvas-menu-button {
    float: left;
    position: fixed;
    padding: 5px;
    cursor: pointer;
  }
  .menu {
    background-color: white;
    padding: 1em;
    width: 50%;
    max-width: 8em;
    height: 100%;
    z-index: 999;
  }
  li {
    padding: .5em;
  }
}

@media (min-width: $break-min-large) {
  .off-canvas-menu-button {
    display: none;
  }
}

.overlay {
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .2;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  cursor: pointer;
}

li:hover {
  background-color: lightgrey;
  padding-left: .5em;
}

li.active {
  background-color: lightgrey;
}

a {
  text-decoration: none;
  color: black;
}
