@import
  'base/months_select',
  'base/settings',
  'base/layout',
  'base/tables',
  'base/buttons',
  'base/form',
  'base/menu',
  'base/modal_window';

@import
  'screens/clubsoverview',
  'screens/score',
  'screens/predictions',
  'screens/games',
  'screens/clubs',
  'screens/poolplayers',
  'screens/about';

/* disable browser behaviour */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.padding-left-s {
  padding-left: .5em;
}

.padding-bottom-s {
  padding-bottom: .5em;
}

img.small {
  width: 25px;
  vertical-align: middle;
}

.hide {
  display: none;
}

.title {
  margin-top: 0px;
}

.sub-text {
  font-size: small;
  display: block;
  font-style: italic;
}