<select name="{{name}}" class="poolplayer_select">
  <option value="" selected disabled>kies een deelnemer</option>
  {{#each poolplayers}}
    <option value="{{_id}}" {{#if selected}}selected{{/if}}>{{name}}</option>
  {{/each}}
</select>