<div class="table">
  <table>
    <thead>
      <tr>
        <th>Naam</th>
        <th>Leeftijd</th>
        <th class="l-tc">Notities</th>
      </tr>
    </thead>
    <tbody>
      {{#each poolplayers}}
        <tr class="poolplayer" data-id="{{_id}}">
          <td>{{name}}</td>
          <td class="right">{{age}}</td>
          <td class="l-tc wrap">{{notes}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<div class="buttons">
  <button type="button" class="js_button_add">Toevoegen</button>
  <button type="button" class="js_button_update" disabled>Wijzigen</button>
  <button type="button" class="js_button_delete" disabled>Verwijderen</button>
  <button type="button" class="js_button_prediction" disabled>Voorspelling</button>
</div>