<div class="rotate">
  <img src="images/rotate.png" />
</div>
<div class="graph">
  <div class="score-header">
    <div class="score-month">
    {{> month_select }}
    </div>
    <div class="legend"></div>
    <div class="message"></div>
  </div>
<canvas id="scoreChart" class="padding-bottom-s"></canvas>
</div>