<div class="edit">
  <h2>Hoe kan ik mee doen?</h2>
  <span>
      1) Maak je account aan onder <a href="/#list/poolplayers">deelnemers</a>.
  <br>2) Via <a href="/#list/games">wedstrijden</a> of <a href="/#list/predictions">voorspellingen</a> kun je voorspellingen opgeven. Tot de start van de wedstrijd kun je je voorspelling nog aanpassen.
  <br>3) Wanneer de wedstrijd is gespeeld, wordt de uitslag ingevuld en kun je onder <a href="/#list/predictions">voorspellingen</a> zien hoe je hebt gescored. Bij <a href="/#show/score">stand</a> kun je zien op welke positie je staat.
  </span>
  <h2>Puntentelling</h2>
  <span>
    Iedere maand start er een nieuwe pool. De puntentelling werkt op de volgende manier:
    <table>
      <tr><th>Voorspelling</th><th>punten</th></tr>
      <tr><td>Winnaar of gelijk spel correct</td><td>5</td></tr>
      <tr><td>Aantal doelpunten thuis spelend team correct</td><td>2</td></tr>
      <tr><td>Aantal doelpunten uit spelend team correct</td><td>2</td></tr>
      <tr><td>Verschil in aantal doelpunten correct</td><td>1</td></tr>
      <tr><td>Totaal</td><td>10</td></tr>
    </table>
    Eventuele verlenging of penalties wordt niet meegenomen in de voorspelling. Dus, je voorspelt de stand na 90 minuten.
  </span>
  <h2>Hoe werkt de app?</h2>
  <ul>
    <li>Stand</li>
    <span>
      Hier kun je aan de hand van een grafiek de stand zien. Iedereen die voor een maand voorspellingen heeft gedaan wordt in de grafiek meegenomen. Per maand kun je de stand bekijken.
    </span>
    <li>Voorspellingen</li>
    <span>
      Hier kunnen nieuwe voorsepllingen worden ingevuld.
    </span>
    <li>Wedstrijden</li>
    <span>
      Hier kunnen nieuwe wedstrijden worden aangemaakt. Daarnaast kan voor een nog te spelen wedstrijd een voorspelling worden ingevuld.
    </span>
    <li>Teams</li>
    <span>
      Hier kunnen team worden toegevoegd. Club teams of nationale teams, beide zijn mogelijk.
    </span>
    <li>Deelnemers</li>
    <span>
      Voor het toevoegen van nieuwe deelnemers kun je hier terecht.
    </span>
    <li>Uitleg</li>
    <span>
      De uitleg heb je zojuist gelezen.
    </span>
  </ul>
</div>