<div class="edit about-content">
  <h2 class="top">Hoe kan ik mee doen?</h2>
  <ul class="numbered-list">
    <li>
      Maak je account aan onder <a href="/#list/poolplayers">deelnemers</a>.
    </li>
    <li>
      Via <a href="/#list/games">wedstrijden</a> of <a href="/#list/predictions">voorspellingen</a> kun je voorspellingen opgeven. Tot de start van de wedstrijd kun je je voorspelling nog aanpassen.
    </li>
    <li>
      Wanneer de wedstrijd is gespeeld, wordt de uitslag ingevuld en kun je onder <a href="/#list/predictions">voorspellingen</a> zien hoe je hebt gescored. Bij <a href="/#show/score">stand</a> kun je zien op welke positie je staat.
    </li>
  </ul>
  <h2>Puntentelling</h2>
    Iedere maand start er een nieuwe pool. De puntentelling werkt op de volgende manier:
    <table>
      <tr><th>Voorspelling</th><th>punten</th></tr>
      <tr><td class="wrap">Winnaar of gelijk spel correct</td><td>5</td></tr>
      <tr><td class="wrap">Aantal doelpunten thuis spelend team correct</td><td>2</td></tr>
      <tr><td class="wrap">Aantal doelpunten uit spelend team correct</td><td>2</td></tr>
      <tr><td class="wrap">Verschil in aantal doelpunten correct</td><td>1</td></tr>
      <tr><td>Totaal</td><td>10</td></tr>
    </table>
    Eventuele verlenging of penalties wordt niet meegenomen in de voorspelling. Dus, je voorspelt de stand na 90 minuten.
  <h2>Hoe werkt de app?</h2>
  <ul>
    <li>
      <h4>Stand</h4>
      Hier kun je aan de hand van een grafiek de stand zien. Iedereen die voor een maand voorspellingen heeft gedaan wordt in de grafiek meegenomen. Per maand kun je de stand bekijken.
    </li>
      <li>
        <h4>Voorspellingen</h4>
        Hier kun je je voorspellingen toevoegen of aanpassen.
    </li>
    <li>
      <h4>Wedstrijden</h4>
      Hier kunnen nieuwe wedstrijden worden aangemaakt. Daarnaast kan voor een nog te spelen wedstrijd een voorspelling worden ingevuld.
    </li>
    <li>
      <h4>Teams</h4>
      Hier kunnen teams worden toegevoegd. Club teams of nationale teams, beide zijn mogelijk.
    </li>
    <li>
      <h4>Deelnemers</h4>
      Hier kun je jezelf als deelnemer toevoegen.
    </li>
    <li>
      <h4>Uitleg</h4>
      De uitleg heb je zojuist gelezen.
    </li>
  </ul>
</div>