<div class="header">
  <a href="/">VOETBALPOOL</a>
</div>
 <ul>
  <li class="score">stand</li>
  <li class="games">wedstrijden</li>
  <li class="predictions">voorspellingen</li>
  <li class="poolplayers">poolspelers</li>
  <li class="clubs">teams</li>
  <li class="about">uitleg</li>
</ul>
