<div class="header">
  <a href="/">VOETBALPOOL</a>
</div>
 <ul>
  <li class="score">stand</li>
  <li class="games">wedstrijden</li>
  <li class="predictions">voorspellingen</li>
  <li class="poolplayers">spelers</li>
  <li class="clubs">clubs</li>
</ul>
