<form class="form">
  <fieldset>
    <legend>Club {{#if _id}}wijzigen{{else}}toevoegen{{/if}}</legend>
    <div class="block" field="general">
      <label for="general"</label>
    </div>
    <div class="block" field="name">
      <label for="name">Naam</label>
      <input type="text" id="name" name="name" size="16" value="{{name}}" />
    </div>
    <div class="block" field="logoFilename">
      <label for="logoFilename">Logo bestandsnaam</label>
      <input type="text" id="logoFilename" name="logoFilename" value="{{logoFilename}}" />
      <button type="button" class="previewLogo">preview</button>
    </div>
    <div class="block">
      <label></label>
      <a href="upload/logo/index.html" target="blank">Upload logo tool</a>
    </div>
  </fieldset>
  <button type="submit" class="js_button_add">Opslaan</button>
  <button type="button" class="js_button_back">Terug</button>
</form>