{{#with model}}
  Weet je zeker dat je de club <strong>{{name}}</strong> <img class="small" src="{{logoBase64Url}}" /> wilt verwijderen?
  <span class="sub-text">Alle wedstrijden van deze club en alle voorspellingen voor de wedstrijden van deze club worden ook verwijderd.</span>
{{/with}}