<form class="form">
  <fieldset>
    <legend>Voorspelling {{#if _id}}wijzigen{{else}}toevoegen{{/if}}</legend>
    <div class="block" field="general">
      <label for="general"</label>
    </div>
    <div class="block" field="poolplayer">
      <label for="poolplayer">Speler</label>
      <span class="poolplayer"></span>
    </div>
    <div class="block" field="game">
      <label for="game">Wedstrijd</label>
      <span class="game"></span>
    </div>
    <div class="block" field="homeTeamGoals">
      <label>Voorspelling</label>
      <input type="tel" size="2" maxlength="2" name="homeTeamGoals" class="center" value="{{homeTeamGoals}}" />
      -
      <input type="tel" size="2" maxlength="2" name="awayTeamGoals" class="center" value="{{awayTeamGoals}}" />
    </div>
  </fieldset>
  <button type="submit" class="js_button_add">Opslaan</button>
  <button type="button" class="js_button_back">Terug</button>
</form>