button {
  outline: none;
  border: none;
  background-color: lightblue;
  font-family: Impact;
  font-size: medium;
  padding: .5em;
  margin-top: .5em;
  border-bottom: 1px outset buttonface;
  border-color: black;
}

button:hover:enabled {
  color: white;
  cursor: pointer;
}

button:active {
  top: 1px;
  border: none;
}