fieldset {
  border-radius: 10px;
}

legend {
  font-size: x-large;
}

input, select, textarea {
  font-family: MarkerFelt-Wide;
  font-size: x-large;
  border-style: groove;
}

/*???????*/
select.club_select option {
  background-repeat:no-repeat;
  background-position:bottom left;
  padding-left:50px;
}

.form label {
  vertical-align: top;
  display: inline-block;
}

textarea {
  font-family: MarkerFelt-Wide;
  font-size: x-large;
  border-style: groove;
}

div.block {
  padding-bottom: 1em;
}

.block label {
  display: inline-block;
  width: 10em;
  text-align: right;
  padding-right: 0.75em;
}

.error input,
.error select {
  border: 2px solid red;
}

span.errorMessage {
  color: red;
}