@media (max-width: 786px) {
  .content {
    width: 100%;
    display: block;
  }
  .menu {
    display: none;
    position: fixed;
  }
  .list {
    text-align: center;
    padding-bottom: .5em;
  }
  .edit {
    padding-top: .5em;
  }
  .s-i {
    display: inline;
  }
  .s-b {
    display: block;
  }
  .l-i, .l-b, .l-tc {
    display: none;
  }
}

@media (min-width: 786px) {
  .content {
    width: 85%;
    float: right;
    display: inline-block;
  }
  .menu {
    width: 15%;
    display: inline-block;
  }
  .s-i, .s-b {
    display: none;
  }
  .l-i {
    display: inline;
  }
  .l-b {
    display: block;
  }
  .l-tc {
    display: table-cell;
  }
}

body {
  font-family: MarkerFelt-Wide;
  padding: 0.25em;
  margin: 0em;
}

.main {
  width: 100%;
}

.header {
  padding-bottom: .5em;
}

