@media (max-width: 786px) {
  .content {
    width: 100%;
    display: block;
    text-align: center;
  }
  .menu {
    display: none;
    position: fixed;
  }
}

@media (min-width: 786px) {
  .content {
    width: 85%;
    float: right;
    display: inline-block;
  }
  .menu {
    width: 15%;
    display: inline-block;
  }
}

body {
  font-family: MarkerFelt-Wide;
  padding: 0.25em;
  margin: 0em;
}

.main {
  width: 100%;
}

.header {
  padding-bottom: .5em;
}

