@media (max-width: 786px) {
  .off-canvas-menu-button {
    float: left;
    position: fixed;
    padding: 5px;
  }
  .menu {
    background-color: white;
    padding: 1em;
    width: 75%;
    height: 100%;
    z-index: 999;
  }
  li {
    padding: .5em;
  }
}

@media (min-width: 786px) {
  .off-canvas-menu-button {
    display: none;
  }
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  cursor: pointer;
}

li:hover {
  background-color: lightgrey;
  padding-left: 1em;
}

li.active {
  background-color: lightgrey;
  padding-left: 1em;
}

a {
    text-decoration: none !important;
    color: black;
}
