@media (max-width: 786px) {
  .off-canvas-menu {
    float: left;
  }
}

@media (min-width: 786px) {
  .off-canvas-menu {
    display: none;
  }
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  cursor: pointer;
}

li:hover {
  background-color: lightgrey;
  padding-left: 1em;
}

li.active {
  background-color: lightgrey;
  padding-left: 1em;
}

a {
    text-decoration: none !important;
    color: black;
}
