.score-header {
  padding-bottom: .5em;
}

.score-month {
  width: 25%;
  display: inline-block;
}

.legend {
  width: 75%;
  display: inline-block;
  float: right;
}

.legend-label {
  width: 1em;
  height: 2em;
  display: inline-block;
  padding-right: 2em;
  vertical-align: middle;
}

.no-score-title {
  width: 100%;
  display: block;
  font-size: 25px;
}