body {
  font-family: Impact;
  padding: 1em;
}

.header {
  padding-bottom: .5em;
}

.menu {
  width: 10%;
  float: left;
}

.content {
  width: 90%;
  float: right;
}

.right {
  text-align: right;
}