<div class="months">
    <label for="months" class="month-label">Maand</label>
    <select id="months" name="months" class="month_select">
    {{#each months}}
      <option value="{{yyyymm}}" {{#if selected}}selected{{/if}}>{{text}}</option>
    {{/each}}
    </select>
</div>