<form class="form">
  <fieldset>
    <legend>speler toevoegen</legend>
    <div class="block" field="name">
      <label for="name">Naam</label>
      <input type="text" id="name" name="name" />
    </div>
    <div class="block" field="birthday">
      <label for="birthday">Geboortedatum</label>
      <input type="text" id="birthday" name="birthday" placeholder="dd-mm-jjjj" />
    </div>
    <div class="block" field="notes">
      <label for="description">Omschrijving</label>
      <textarea type="text" id="description" name="notes" cols="50" rows="5"></textarea>
    </div>
  </fieldset>
  <button type="submit" class="js_button_save">Opslaan</button>
  <button type="button" class="js_button_back">Terug</button>
</form>