<div>
  <a href="#" class="close">x</a>
  <h3>{{data.header}}</h3>
  <p>{{{data.content}}}</p>
  <p>
    <button type="button" class="yes">Ja</button>
    <button type="button" class="no">Nee</button>
  </p>
</div>