<table class='poolplayers'>
  <thead>
    <tr>
      <th>Naam</th>
      <th>Beschrijving</th>
    </tr>
  </thead>
  <tbody>
    {{#each poolplayers}}
      <tr class='poolplayer'>
        <td>{{name}}</td>
        <td>{{notes}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
